.App {
  text-align: center;
}
#sidebar {
  float: left;
  width: 200px;
  height: 700px;
  border: 3px solid steelblue;
}

.room-name {
  width: 75px;
  margin: 25px;
}

.room-title {
  text-align: left;
  padding-left: 350px;
  padding-top: 50px;
  text-decoration-line: underline;
  text-underline-position: below;
}

.message-list {
  text-align: center;
}

#messages {
  padding-top: 40px;
}

.button {
  margin: 0 auto;
  width: 75px;
}

#text-input {
  width: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
